body {
    /* Tampilan utama */
    font-family: Arial;
    text-align: center;
    background-color: white;
}

h1 {
    /* Jarak judul */
    margin-top: 50px;
}

button {
    /* Bentuk tombol */
    padding: 12px 25px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

/* Tombol tampil */
.tampil {
    background-color: yellow;
}

/* Tombol hapus */
.hapus {
    background-color: orange;
}

#data {
    /* Posisi kartu */
    margin: 30px auto;
    width: 360px;
}

.kartu {
    /* Warna kartu */
    background-color: blue;
    color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 8px gray;
}

.kartu h2 {
    /* Jarak judul kartu */
    margin-top: 0;
}